{% extends 'base.html' %}
{% block content %}
            
<h2 id="header-h2">DinnerDates</h2>

{% if user.is_authenticated %}
<div id="dashboard">
    <div id="macro-btn">
        <div id="buttons">
            <div id="location-board">
                <user-location :current-user="currentUser"></user-location>
            </div>
            <get-preferences id="macro-preferences" :current-user="currentUser"></get-preferences>
            <get-places :current-user="currentUser"></get-places> 
        </div>
    </div>
    <div id="calendar-board">
        <calendar-app :current-user="currentUser"></calendar-app> 
    </div>
</div>
{% endif %}

{% endblock %}